.btn-edit {
color: #fff;
font-size: 16px;
height: 40px;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
width: auto;
padding: 0 10px;
}
.btn-edit:hover {
    color: coral;
}
.btn-delete:hover {
    color: coral;
}
.btn-delete {
color: #fff;
font-size: 16px;
height: 40px;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
width: auto;
padding: 0 10px;
}

