
{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'navbar.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}"> 



  <div id="wrapper" style="padding-top: 98px;">

        <div class="readers" style="display: flex;">
            <div class="structure_container" >
                <h1 class="structure_title" style="color: #2c2c2c; margin-top: 100px;  margin-left: 60px;">Каталог</h1>
                <div class="readers_content" style="display: block;">
                    <div class="readers_box">
                        <div style="width: 100%; margin-left: 60px;" id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" style="height: 420px;" src="../static/img/katalog.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" style="height: 420px;" src="../static/img/katalog2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" style="height: 420px;" src="../static/img/katalog3.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        
                    </div>
                    
                    {% for i in b_catalog %}
                    <div class="readers_text" style="width: 600px;">
                        <h1 style="color: #2c2c2c;font-size: 26px;">{{i.title}}</h1>
                        <p style="text-align: justify;">{{ i.text|linebreaksbr }}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="readers_content" style="display: block;">
                    <div class="readers_box">
                        <div style="width: 100%; "  id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" style="height: 470px;" src="../static/img/elkata.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" style="height: 470px;" src="../static/img/elkata2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" style="height: 470px;" src="../static/img/elkata.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        
                    </div>

                    {% for i in el_catalog %}
                    <div class="readers_text" style="width: 600px;">
                         <br><br><br>
                        <h1 style="color: #2c2c2c; font-size: 26px;;">{{i.title}}</h1>
                        <p>{{i.text|linebreaksbr}}</p>
                    </div>
                    {% endfor %}

                </div>
               
            </div>


            <div class="ttest">
                 
		


    

        <div class="catalog-box" style=" position: absolute;right: 120px; top: 145px;">
            <h1 style="font-size: 26px; color: #2c2c2c;" >{% trans 'Систематические каталоги' %}</h1>
            <ul class="catalog-link" style="margin-top: 65px;">
                
                {% for c in catalog_list %}
                    <li><a target="_blank" href="{{ c.pdf.url }}">{{c.title}}</a></li>
                {% endfor %}
                    
                
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419151514-kitep_osu.pdf>Текущий библиографический указатель 2014 года II квартал</a></li>
                <li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419151215-kitep_osu.pdf>Текущий библиографический указатель 2014 года III квартал</a></li>
				<!-- <li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419143207-kitep_osu.pdf>Текущий библиографический указатель 2014  года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419134615-kitep_osu.pdf>Текущий библиографический указатель 2015 года II-III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152146-kitep_osu.pdf>Текущий библиографический указатель 2016 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152547-kitep_osu.pdf>Текущий библиографический указатель 2016 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152827-kitep_osu.pdf>Текущий библиографический указатель 2016 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419152954-kitep_osu.pdf>Текущий библиографический указатель 2016 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153241-kitep_osu.pdf>Текущий библиографический указатель 2017 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153535-kitep_osu.pdf>Текущий библиографический указатель 2017 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180419153718-kitep_osu.pdf>Текущий библиографический указатель 2017 года III - IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180523104814-kitep_osu.pdf>Текущий библиографический указатель 2018 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20180717113523-kitep_osu.pdf>Текущий библиографический указатель 2018 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20181029154125-kitep_osu.pdf>Текущий библиографический указатель 2018 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190121132411-kitep_osu.pdf>Текущий библиографический указатель 2018 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190408085021-kitep_osu.pdf>Текущий библиографический указатель 2019 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20190719123821-kitep_osu.pdf>Текущий библиографический указатель 2019 года II квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20191004083952-kitep_osu.pdf>Текущий библиографический указатель 2019 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20200701142510-kitep_osu.pdf>Текущий библиографический указатель 2019 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20201215101919-Kitep_osu.pdf>Текущий библиографический указатель 2020 года I квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20201215102339-Kitep_osu.pdf>Текущий библиографический указатель 2020 года III квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/PDF-20210316101154-Kitep_osu.pdf>Текущий библиографический указатель 2020 года IV квартал</a></li>
				<li><a target="_blank" href=https://base.oshsu.kg/resurs/document/XLSX-20201214141515-Kitep_osu.xlsx>Образец заполнения заявки на приобретение учебной литературы</a></li> -->
            </ul>
        
            
        </div>
        
        {% if request.user.is_authenticated %}

        <!-- Кнопка для открытия модального окна -->
     <div style="position: relative;">
       <div style="position: absolute; top: 140px; right: 40px; width: 150px; z-index: 10;">
          <button id="addFileBtn" style="background-color: #0c6dd5c6; width: 100%;">
            <p style="font-size: 14px; margin: 0;">Добавить файл</p>
          </button>
      </div>
     </div>


       <!-- Модальное окно -->
        <div id="myModal" class="catalog-modal">
            <div class="catalog-modal-content">
                <span class="catalog-close">&times;</span>
                <h2>Добавить файл</h2>
                
                <form id="fileForm" method="POST" class="catalog-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="fileName">Название файла:</label>
                    <input type="text" id="fileName" name="title" required><br>
        
                    <label for="fileUpload">Выберите файл:</label>
                    <input type="file" id="fileUpload" name="pdf" required><br>
    
                    <button type="submit">Добавить</button>
                </form>
                <p id="successMessage" class="catalog-success">Успешно добавлено!</p>
            </div>
        </div>
        {% endif %}
        
        <script>
            // Получаем элементы
            const modal = document.getElementById("myModal");
            const btn = document.getElementById("addFileBtn");
            const span = document.getElementsByClassName("catalog-close")[0];
            const form = document.getElementById("fileForm");
            const successMessage = document.getElementById("successMessage");
        
            // Открыть модальное окно
            btn.onclick = function() {
                modal.style.display = "block";
            }
        
            // Закрыть модальное окно
            span.onclick = function() {
                modal.style.display = "none";
            }
        
            // Закрыть модальное окно, если кликнули вне его
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        
            // Обработка формы
            form.onsubmit = function(event) {
                event.preventDefault(); // Останавливаем отправку формы
        
                // Здесь можно добавить код для загрузки файла, если нужно
                successMessage.style.display = "block"; // Показываем сообщение об успехе
        
                // Очищаем поля формы
                form.reset();
            }
        </script>
            </div>
     
        </div>

    </div> 









   
{% include 'footer.html' %}
{% endblock content %}

</html>