{% extends 'index.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<body class="editor_false  lang_ru     not_ie">

    <div id="wrapper" class="" style="padding-top: 88px;">

        <div class="structure">
            <div class="structure_container">
                <h1 class="structure_title">Структура</h1>
                <div class="structure_content">

              

                
                    
                    

                   

                </div>
            </div>
        </div>

    </div>

</body>

{% endblock content %}