{% extends 'index.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}   



  <style>
    * { box-sizing: border-box; }
    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #f0f2f5;
      color: #333;
    }

  </style>
</head>
<body>

  {% for d in director %}
    <div class="struktura-wrapper">
        <div class="struktura1">
          <img src="{{d.img.url}}" alt="Директор">
          <h1>{{d.name}}</h1>
          <p>Должность: Директор</p>
          <p>Телефон: +996-554-206-434</p>
          <p>О себе: Руководитель с опытом и видением будущего.</p>
        </div>
      
        <div class="biography">
          <h2>Биография</h2>
          <p>
            {{d.bio}}
          </p>
        </div>
      </div>
      {% endfor %}
      
      

  <div class="layout">
  <div class="sidebar">
    <button onclick="showDepartment('dept1')">Китепти комплектөө жана сактоо бөлүмү</button>
    <button onclick="showDepartment('dept2')">Электрондук ресурстар жана тейлөө бөлүмү</button>
    <button onclick="showDepartment('dept3')">Библиограф</button>
  </div>

  <div class="content">
    <div id="dept1" class="staff-grid active">
      <div class="staff-card">
        <img src="/static/img/his1.jpg" alt="Имя сотрудника">
        <h3>Имя сотрудника</h3>
        <p><strong>Должность:</strong> Библиотекарь</p>
        <p><strong>Тел:</strong> +7...</p>
        <p><strong>Адрес:</strong> Город, ул. 1</p>
      </div>
     
    </div>

    <div id="dept2" class="staff-grid" style="display: none;">
      <div class="staff-card">
        <img src="/static/img/his2.jpg" alt="Виктория Сидорова">
        <h3>Виктория Сидорова</h3>
        <p><strong>Должность:</strong> Менеджер</p>
        <p><strong>Тел:</strong> +7...</p>
        <p><strong>Адрес:</strong> Город, ул. 3</p>
      </div>
    </div>

    <div id="dept3" class="staff-grid" style="display: none;">
      <div class="staff-card">
        <img src="photo4.jpg" alt="Дмитрий Смирнов">
        <h3>Дмитрий Смирнов</h3>
        <p><strong>Должность:</strong> Аналитик</p>
        <p><strong>Тел:</strong> +7...</p>
        <p><strong>Адрес:</strong> Город, ул. 4</p>
      </div>
    </div>
  </div>
</div>

<script>
  function showDepartment(id) {
    const sections = document.querySelectorAll('.staff-grid');
    sections.forEach(sec => sec.style.display = 'none');
    document.getElementById(id).style.display = 'grid';
  }
</script>

  

</body>
</html>



{% endblock content %}