{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% include 'navbar.html' %}   



  <style>
    * { box-sizing: border-box; }
    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #f0f2f5;
      color: #333;
    }

  </style>
</head>
<body>

  {% for d in director %}
    <div class="struktura-wrapper">
        <div class="struktura1">
          <img src="{{d.img.url}}" alt="Директор">
          <h1>{{d.name}}</h1>
          <p>Должность: Директор</p>
          <p>Телефон: +996-554-206-434</p>
          <p>{% trans 'О себе: Руководитель с опытом и видением будущего.' %}</p>
        </div>
      
        <div class="biography">
          <h2>Биография</h2>
          <p>
            {{d.bio}}
          </p>
        </div>
      </div>
      {% endfor %}
      
      

  <div class="layout">
  <div class="sidebar">
    <button onclick="showDepartment('dept1')">{% trans 'Отдел комплектования и хранения книг' %}</button>
    <button onclick="showDepartment('dept2')">{% trans 'Отдел электронных ресурсов и услуг' %}</button>
    <button onclick="showDepartment('dept3')">Библиограф</button>
  </div>

  <div class="content">

    
    {% for s1 in structure1 %}
    <div id="dept1" class="staff-grid active">
      <div class="staff-card">
        <img src="{{s1.img.url}}" alt="Имя сотрудника">
        <h3>{{s1.name}}</h3>
        <p>{{s1.info}}</p>
      </div>
    </div>
     {% endfor %}

    {% for s2 in structure2 %}
    <div id="dept2" class="staff-grid" style="display: none;">
      <div class="staff-card">
        <img src="{{s2.img.url}}" alt="Виктория Сидорова">
        <h3>{{s2.name}}</h3>
        <p>{{s2.info}}</p>
      </div>
    </div>
    {% endfor %}

    {% for s3 in structure3 %}
    <div id="dept3" class="staff-grid" style="display: none;">
      <div class="staff-card">
        <img src="{{s3.img.url}}" alt="Дмитрий Смирнов">
        <h3>{{s3.name}}</h3>
        <p>{{s3.info}}</p>
      </div>
    </div>
    {% endfor %}


  </div>
</div>

<script>
  function showDepartment(id) {
    const sections = document.querySelectorAll('.staff-grid');
    sections.forEach(sec => sec.style.display = 'none');
    document.getElementById(id).style.display = 'grid';
  }
</script>

  

</body>
</html>



{% endblock content %}