{% extends 'index.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}   



  <style>
    * { box-sizing: border-box; }
    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #f0f2f5;
      color: #333;
    }

  </style>
</head>
<body>

  {% for d in director %}
    <div class="struktura-wrapper">
        <div class="struktura1">
          <img src="{{d.img.url}}" alt="Директор">
          <h1>{{d.name}}</h1>
          <p>Должность: Директор</p>
          <p>Телефон: +996-554-206-434</p>
          <p>О себе: Руководитель с опытом и видением будущего.</p>
        </div>
      
        <div class="biography">
          <h2>Биография</h2>
          <p>
            {{d.bio}}
          </p>
        </div>
      </div>
      {% endfor %}
      
      

  
  <div class="layout">
    <div class="sidebar">
      <button onclick="showDepartment(1)">Китепти комплектөө жана сактоо бөлүмү</button>
      <button onclick="showDepartment(2)">Электрондук ресурстар жана тейлөө бөлүмү</button>
      <button onclick="showDepartment(3)">Библиограф</button>
    </div>

    <div class="content">
      <div class="staff-grid" id="staffContainer">
        <p>Выберите отдел, чтобы увидеть сотрудников.</p>
      </div>
    </div>
  </div> 

  <script>
    const departments = {
     
      1: [
        { name: "", img: "/static/img/his1.jpg", phone: "+7...", address: "Город, ул. 1", position: "Библиотекарь" },
       
          ],


      2: [
        { name: "Виктория Сидорова", img: "/static/img/his2.jpg", phone: "+7...", address: "Город, ул. 3", position: "Менеджер" }
      ],


      3: [
        { name: "Дмитрий Смирнов", img: "photo4.jpg", phone: "+7...", address: "Город, ул. 4", position: "Аналитик" }
      ]


    };

    function showDepartment(dept) {
      const container = document.getElementById('staffContainer');
      container.innerHTML = '';
      departments[dept].forEach(staff => {
        container.innerHTML += `
          <div class="staff-card">
            <img src="${staff.img}" alt="${staff.name}">
            <h3>${staff.name}</h3>
            <p><strong>Должность:</strong> ${staff.position}</p>
            <p><strong>Тел:</strong> ${staff.phone}</p>
            <p><strong>Адрес:</strong> ${staff.address}</p>
          </div>
        `;
      });
    }
  </script>
  

</body>
</html>



{% endblock content %}